@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  :root {
    --radius: 0.2rem;
  }
}

dialog {
  border: 0 !important;
}

div[role="dialog"] {
  border: 0 !important;
}

.paystack__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.paystack__button > button {
  background-color: green !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 600;
}

/* Add this to your global CSS file */
::-webkit-scrollbar {
  height: 3px; /* Adjust scrollbar height */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa; /* Scrollbar hover color */
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9; /* Track color */
}
